[submodule "external/doctest"]
    path = external/doctest
    url = https://github.com/onqtam/doctest
[submodule "external/gli"]
    path = external/gli
    url = https://github.com/g-truc/gli
[submodule "external/glm"]
    path = external/glm
    url = https://github.com/g-truc/glm
[submodule "external/fmt"]
    path = external/fmt
    url = https://github.com/fmtlib/fmt
[submodule "external/microprofile"]
    path = external/microprofile
    url = https://github.com/Ryp/microprofile
    ignore = untracked
[submodule "external/amd-rga"]
	path = external/amd-rga
	url = https://github.com/GPUOpen-Tools/RGA
[submodule "external/tinyobjloader"]
	path = external/tinyobjloader
	url = https://github.com/syoyo/tinyobjloader
[submodule "external/span-lite"]
	path = external/span-lite
	url = https://github.com/martinmoene/span-lite
[submodule "external/amd-vma"]
	path = external/amd-vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "external/meshoptimizer"]
	path = external/meshoptimizer
	url = https://github.com/zeux/meshoptimizer
[submodule "external/tinyddsloader"]
	path = external/tinyddsloader
	url = https://github.com/benikabocha/tinyddsloader
