[submodule "external/doctest"]
    path = external/doctest
    url = https://github.com/onqtam/doctest
[submodule "external/glm"]
    path = external/glm
    url = https://github.com/g-truc/glm
[submodule "external/fmt"]
    path = external/fmt
    url = https://github.com/fmtlib/fmt
[submodule "external/amd-rga"]
    path = external/amd-rga
    url = https://github.com/GPUOpen-Tools/RGA
[submodule "external/tinyobjloader"]
    path = external/tinyobjloader
    url = https://github.com/syoyo/tinyobjloader
    ignore = untracked
[submodule "external/amd-vma"]
    path = external/amd-vma
    url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "external/meshoptimizer"]
    path = external/meshoptimizer
    url = https://github.com/zeux/meshoptimizer
[submodule "external/tinyddsloader"]
    path = external/tinyddsloader
    url = https://github.com/benikabocha/tinyddsloader
[submodule "external/imgui"]
    path = external/imgui
    url = https://github.com/Ryp/imgui
    ignore = untracked
[submodule "external/tracy"]
	path = external/tracy
	url = https://github.com/wolfpld/tracy
[submodule "external/cgltf"]
	path = external/cgltf
	url = https://github.com/jkuhlmann/cgltf
[submodule "external/lodepng"]
	path = external/lodepng
	url = https://github.com/lvandeve/lodepng
[submodule "external/bullet3"]
	path = external/bullet3
	url = https://github.com/Ryp/bullet3
