[General]
Name=Export template
Comment=Reaper library export header
Category=C++/Reaper
Language=C++
Type=Class
Files=Header

[Header]
Name=Header
File=class.h
OutputFile={{ name }}Export.h
