[General]
Name=Module template
Comment=Reaper module template
Category=C++/Reaper
Language=C++
Type=Class
Files=Header,Implementation

[Header]
Name=Header
File=class.h
OutputFile={{ name }}Module.h

[Implementation]
Name=Implementation
File=class.cpp
OutputFile={{ name }}Module.cpp
